/*p, ol {
    font-size: 20px;
      line-height: 31px;
      font-weight:300;
    font-size: 16px;
    line-height: 25px;

}*/

.container {
    margin: 30px auto;
    padding: 0 20px;
}

@media (min-width: 768px) {
  body {
      font-size: 18px;
      line-height: 28px;
  }
  .lead {
      font-size: 23px;
  }
}

@media (min-width: 992px) {
  body {
      font-size: 22px;
      line-height: 34px;
  }
  .lead {
      font-size: 28px;
  }
}

@media (min-width: 1200px) {
  body {
      font-size: 28px;
      line-height: 44px;
  }
  .lead {
      font-size: 36px;
  }
}
